body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #1C2321;
}

nav {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 55px;
	background-color: white;
	border-bottom: 1px solid #9396A0;
	}

footer {
	width: 100%;
	left: 0;
	bottom: 0;
	height: 35px;
	background-color: white;
}

ul {
	list-style-type: none;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.nav-li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	top: 0;
	font-size: 20px;
}

li a{
	
	text-decoration: none;
	font-family: 'Noto Serif SC', serif;
	color: #5A7D7C;
}

h1 {
	position: fixed;
	left: 10px;
	top: 10px;
	display: inline-block;
	margin-top: 0px;
	font-family: 'Noto Serif SC', serif;
	font-size: 25px;
}

h2 {
	font-family: 'Noto Serif SC', serif;
	font-size: 35px;
	margin-top: 70px;
}

h3 {
	font-family: 'Noto Serif SC', serif;
	font-size: 20px;
}


.project {
	
	
	text-align: center;
	margin-bottom: 20px;
}

.description {
	background-color: white;
	width: 90%;
	margin: auto;
	text-align: left;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
}

.footer-picture {
	width: 25px;
	margin-top: 5px;
}

#about-me {
	text-align: left; 
	width: 80%;
	margin: auto;
	margin-top: 20%;
}

#headline {
	font-family: 'Noto Serif SC', serif;
	font-size: 25px;
}

.portfolio-photo {
	width: 90%;
	margin-top: 20px;
	max-height: 400px;
	margin-bottom: 0px;
}

p {
	font-size: 16px;
}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CED5E0;
    margin: 1em 0;
    padding: 0; 
    width: 100%;

}

.button-links {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
	width: 45%;
	margin: 2px;
	margin-top: 0px;
	background-color: #8FB7B6;
	color: white;
	height: 50px;
	font-size: 20px;
	padding: 0;
	font-family: 'Noto Serif SC', serif;
}

footer a {
	color: black;
	font-size: 25px;
}



@media all and (min-width: 800px) {
	
	nav {
		position: fixed;
		width: 30%;
		left: 0;
		top: 33%;
		background-color: white;
		border-bottom: none;
	}


	h1 {
		position: static;
		font-size: 35px;
	}


	ul {
		list-style-type: none;
		position: relative;
	}

	h2 {
		margin-top: 20px;
	}

	.nav-li {
		display: block;
	}

	footer {
		position: fixed;
		width: 30%;
		left: 0;
		bottom: 35%;
		color: #DCDCDC;
	}

	main {
		float: right;
		margin-right: 5%;
		width: 60%;
	}

	

	#bar {
		position: fixed;
		left: 30%;
		background-color: gray;
		width: 1px;
		height: 100%;
		top: 0;
	}

	#all-projects {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

	}

	#about-me {
	text-align: justify; 
	width: 80%;
	margin: auto;
	margin-top: 25%;
}
